.footer {
   display: flex;
   background-color: #6278f7;
   align-items: center;
   justify-content: space-around;
   width: 100%;

   flex-wrap: wrap;
   gap: 90px 0;
   padding: 90px 0;
}

.midia-container {
   display: flex;
   gap: 34px;
   margin: 0 20px;
}

.logo-container img {
   width: 200px;
   margin: 0 20px;
}

.footer p {
   color: white;
   font-weight: 500;
   font-size: 20px;
   margin: 0 20px;
}
